* {
    font-family: monospace;
    box-sizing: border-box;
  }
  
  h3 {
    text-align: center;
  }
  
  input {
    width: 500px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    width: 500px;
    margin: 0 auto;
    padding: 0;
  }
  ul li {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 5px;
    position: relative;
  }
  ul li:hover {
    background-color: #ededed;
  }
  ul li a {
    position: absolute;
    left: 200px;
    color: #777;
  }